:root {
    --canvas-width: 32;
    --canvas-height: 32;
}

body {
    background-color: #1b1b26;
    color: rgba(172, 176, 208, 1);
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 60px;
    overflow: hidden;
}

.drop-area-highlight::after {
    content: " ";
    position: fixed;
    width: 100vw;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    border: 4px solid rgba(255,255,255,.5);
    box-sizing: border-box;
    pointer-events: none;
}

.menu-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 60px;
    background-color: #383845;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-bar > div {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 12px;
}

.menu-bar div.middle-part {
    justify-content: center;
}

.menu-bar div.right-side {
    justify-content: right;
}

.menu-bar button {
    background-color: transparent;
    border: 0;
    color: #acb0d0;
    border-radius: 4px;
    height: 40px;
    padding: 0 12px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bar button.icon {
    padding: 0 8px;
}

.menu-bar button svg {
    stroke: #acb0d0;
    stroke-width: 1;
    height: 21px;
}

.menu-bar button:hover,
.menu-bar .color-picker:hover,
.menu-bar .number-picker button:hover {
    background-color: rgba(120, 124, 153, .5);
    color: rgba(255, 255, 255, .75);
}

.menu-bar button:active,
.menu-bar .color-picker:active,
.menu-bar .color-picker:focus-within,
.menu-bar button.active {
    background-color: rgba(27, 27, 38, .5);
    color: rgba(255, 255, 255, .75);
}

.menu-bar button:disabled {
    opacity: .25;
    pointer-events: none;
}

.menu-bar .separator {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: rgba(120, 124, 153, .25);
    margin: 0 10px;
}

.menu-bar label {
    text-transform: uppercase;
    font-size: .8em;
    text-align: right;
    white-space: nowrap;
    cursor: pointer;
}

.menu-bar .color-picker, .menu-bar .number-picker {
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}

.menu-bar .color-picker label, .menu-bar .number-picker label {
    padding: 0 12px;
    height: 40px;
    display: flex;
    align-items: center;
}

.menu-bar .color-picker input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background-color: transparent;
    border: 0;
    width: 24px;
    cursor: pointer;
    margin-left: 8px;
}
.menu-bar .color-picker input::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid rgba(27, 27, 38, 1);
}
.menu-bar .color-picker input::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid rgba(27, 27, 38, 1);
}

.menu-bar .number-picker .input-wrapper {
    display: inline-block;
    border: 1px solid rgba(172, 176, 208, .5);
    border-radius: 4px;
    display: flex;
    position: relative;
    margin-right: 8px;
    overflow: hidden;
}

.menu-bar .number-picker .input-wrapper:focus-within {
    background-color: rgba(27, 27, 38, .5);
    border-color: rgba(172, 176, 208, 1);
}

.menu-bar .number-picker .input-wrapper:before {
    content: "px";
    display: flex;
    align-items: center;
    color: rgba(172, 176, 208, .5);
    border-right: 1px solid rgba(172, 176, 208, .5);
    background-color: rgba(27, 27, 38, .25);
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 4px;
    text-transform: uppercase;
    font-size: .65rem;
    pointer-events: none;
}

.menu-bar .number-picker input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding-left: 24px;
    padding-right: 8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #acb0d0;
    font-size: .75rem;
    text-align: right;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.menu-bar .number-picker button {
    width: 24px;
    height: 26px;
    border-left: 1px solid rgba(172, 176, 208, .5);
    background-color: rgba(27, 27, 38, .25);
    border-radius: 0;
    z-index: 1;
}

.canvas-container {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container > div {
    position: relative;
    width: calc(80vh * (var(--canvas-width) / var(--canvas-height)));
    height: calc(80vh);
}

.canvas-container > div > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.canvas-container .bg-image svg {
    width: 100%;
    height: 100%;
    stroke: rgba(120, 124, 153, 1);
}

.canvas {
    width: calc(80vh * (var(--canvas-width) / var(--canvas-height)));
    height: calc(80vh);
    border: 1px solid rgba(120, 124, 153, .25);
    display: grid;
    grid-template-columns: repeat(var(--canvas-width), 1fr);
    grid-template-rows: repeat(var(--canvas-height), 1fr);
}

.canvas .dot-item {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: crosshair;
}

.canvas .dot-item::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid rgba(27, 27, 38, 1);
}

.canvas .dot-item.active::after {
    background-color: rgba(172, 176, 208, 1);
}

.canvas .dot-item.active.selected::after {
    background-color: white;
}

.canvas .dot-item.selected {
    cursor: grab;
}

.canvas .dot-item.selected::after {
    outline: 1px dotted rgba(120, 124, 153, 1);
    z-index: 1;
}

.canvas .dot-item:hover::after {
    background-color: rgba(120, 124, 153, .25);
    outline: 1px solid rgba(120, 124, 153, .5);
    z-index: 2;
}

.canvas .dot-item.active:hover::after {
    background-color: rgba(172, 176, 208, .75);
    outline-color: rgba(27, 27, 38, .5);
}

.preview-container {
    position: fixed;
    top: 70px;
    right: 10px;
    border: 1px solid rgba(120, 124, 153, .25);
    background-color: rgba(27, 27, 38, 1);
}

.preview-container canvas {
    display: block;
}

.status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    pointer-events: none;
}

.status-bar div#status {
    visibility: hidden;
    border: 1px solid rgba(172, 176, 208, .25);
    border-radius: 4px;
    padding: 4px 6px;
}

.status-bar div#status.has-content {
    visibility: visible;
}
