:root {
    --canvas-width: 32;
    --canvas-height: 32;
    image-rendering: pixelated;
}

body {
    background-color: #1b1b26;
    color: rgba(172, 176, 208, 1);
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 60px;
    overflow: hidden;
    user-select: none;
}

.drop-area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.drop-area-highlight .drop-area {
    display: block;
}

.drop-area-highlight .drop-area::after {
    content: " ";
    position: fixed;
    width: 100vw;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    border: 4px solid rgba(255,255,255,.5);
    box-sizing: border-box;
    pointer-events: none;
}

.menu-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 60px;
    background-color: #383845;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-bar > div {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 12px;
}

.menu-bar div.middle-part {
    justify-content: center;
}

.menu-bar div.right-side {
    justify-content: right;
}

button {
    background-color: transparent;
    border: 0;
    color: #acb0d0;
    border-radius: 4px;
    height: 40px;
    padding: 0 12px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon {
    padding: 0 8px;
}

button svg {
    stroke: #acb0d0;
    stroke-width: 1;
    height: 21px;
}

button:hover,
.color-picker:hover,
.number-picker button:hover {
    background-color: rgba(120, 124, 153, .5);
    color: rgba(255, 255, 255, .75);
}

button:active,
.color-picker:active,
.color-picker:focus-within,
button.active,
.show-export-settings button.export-settings-toggle {
    background-color: rgba(27, 27, 38, .5);
    color: rgba(255, 255, 255, .75);
}

button:disabled {
    opacity: .25;
    pointer-events: none;
}

.extra-controls {
    display: none;
    white-space: nowrap;
    position: fixed;
    top: 70px;
    left: 10px;
    border: 1px solid rgba(120, 124, 153, .25);
    background-color: rgba(27, 27, 38, 1);
    height: 40px;
    padding: 4px;
    align-items: center;
    border-radius: 4px;
    z-index: 999;
}

.extra-controls.preview-settings {
    left: auto;
    right: 10px;
}

.has-bg-image .bg-image-controls,
.show-export-settings .preview-settings {
    display: flex;
}

.separator {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: rgba(120, 124, 153, .25);
    margin: 0 10px;
}

label {
    text-transform: uppercase;
    font-size: .8em;
    text-align: right;
    white-space: nowrap;
    cursor: pointer;
}

.color-picker, .number-picker {
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}

.color-picker label, .number-picker label {
    padding: 0 12px;
    height: 40px;
    display: flex;
    align-items: center;
}

.color-picker input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background-color: transparent;
    border: 0;
    width: 24px;
    cursor: pointer;
    margin-left: 8px;
}
.color-picker input::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid rgba(27, 27, 38, 1);
}
.color-picker input::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid rgba(27, 27, 38, 1);
}

.number-picker .input-wrapper {
    display: inline-block;
    border: 1px solid rgba(172, 176, 208, .5);
    border-radius: 4px;
    display: flex;
    position: relative;
    margin-right: 8px;
    overflow: hidden;
}

.number-picker .input-wrapper:focus-within {
    background-color: rgba(27, 27, 38, .5);
    border-color: rgba(172, 176, 208, 1);
}

.number-picker .input-wrapper:before {
    content: attr(data-units);
    display: flex;
    align-items: center;
    color: rgba(172, 176, 208, .5);
    border-right: 1px solid rgba(172, 176, 208, .5);
    background-color: rgba(27, 27, 38, .25);
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 4px;
    text-transform: uppercase;
    font-size: .65rem;
    pointer-events: none;
}

.number-picker input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding-left: 24px;
    padding-right: 8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #acb0d0;
    font-size: .75rem;
    text-align: right;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-picker button {
    width: 24px;
    height: 26px;
    border-left: 1px solid rgba(172, 176, 208, .5);
    background-color: rgba(27, 27, 38, .25);
    border-radius: 0;
    z-index: 1;
}

.canvas-container {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    --container-width: calc(80vh * (var(--canvas-width) / var(--canvas-height)));
    --container-height: calc(80vh);
    --dot-size: calc(var(--container-width) / var(--canvas-width));
}

.canvas-container > div {
    position: relative;
    width: var(--container-width);
    height: var(--container-height);
}

.canvas-container > div > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.canvas-container .bg-image {
    display: grid;
    resize: both;
    pointer-events: none;
}

.canvas-container .bg-image canvas {
    --int-scalar: 1;
    --scale: 1;
    --offset-x: 0;
    --offset-y: 0;
    opacity: .2;
    width: calc(var(--scale) / var(--int-scalar) * 100%);
    margin: 1px;
    margin-left: calc(var(--dot-size) * var(--offset-x) / var(--int-scalar) + 1px);
    margin-top: calc(var(--dot-size) * var(--offset-y) / var(--int-scalar) + 1px);
}

.icon-eye-off {
    display: none;
}

.hide-bg-image .icon-eye-off {
    display: flex;
}

.hide-bg-image .icon-eye {
    display: none;
}

.hide-bg-image .canvas-container .bg-image {
    display: none;
}

.canvas {
    width: var(--container-width);
    height: var(--container-height);
    border: 1px solid rgba(120, 124, 153, .25);
    display: grid;
    grid-template-columns: repeat(var(--canvas-width), 1fr);
    grid-template-rows: repeat(var(--canvas-height), 1fr);
}

.canvas .dot-item {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: crosshair;
}

.canvas .dot-item::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid rgba(27, 27, 38, 1);
}

.canvas .dot-item.active::after {
    background-color: rgba(172, 176, 208, 1);
}

.canvas .dot-item.active.selected::after {
    background-color: white;
}

.canvas .dot-item.selected {
    cursor: grab;
}

.canvas .dot-item.selected::after {
    outline: 1px dotted rgba(120, 124, 153, 1);
    z-index: 1;
}

.canvas .dot-item:not(.drag-active):hover::after {
    background-color: rgba(120, 124, 153, .25);
    outline: 1px solid rgba(120, 124, 153, .5);
    z-index: 2;
}

.canvas .dot-item:not(.drag-active).active:hover::after {
    background-color: rgba(172, 176, 208, .75);
    outline-color: rgba(27, 27, 38, .5);
}

.preview-container {
    position: fixed;
    top: 70px;
    right: 10px;
    text-align: right;
}

.show-export-settings .preview-container {
    top: 130px;
}

.preview-container canvas {
    display: block;
    border: 1px solid rgba(120, 124, 153, .25);
    background-color: rgba(27, 27, 38, 1);
}

.preview-container .status {
    display: inline-block;
    background-color: rgba(27, 27, 38, 1);
    border: 1px solid rgba(172, 176, 208, .25);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: .8em;
    margin-top: 4px;
}

.status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    pointer-events: none;
}

.status-bar div#status {
    visibility: hidden;
    background-color: rgba(27, 27, 38, 1);
    border: 1px solid rgba(172, 176, 208, .25);
    border-radius: 4px;
    padding: 4px 6px;
}

.status-bar div#status.has-content {
    visibility: visible;
}
